.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading06 span {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
  animation: wave 1.5s infinite;
  margin: 0 2px;
  transition: color 0.3s ease;
}

body.dark-mode .loading06 span {
  color: #58a6ff;
}

.loading06 span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading06 span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading06 span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading06 span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading06 span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading06 span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading06 span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}